<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makebk.domain.core.infrastructure.mapper.SysLogApiMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.makebk.domain.core.entits.SysLogApi">
                    <id column="id" property="id"/>
                    <result column="tenants_id" property="tenantsId"/>
                    <result column="service_id" property="serviceId"/>
                    <result column="server_host" property="serverHost"/>
                    <result column="server_ip" property="serverIp"/>
                    <result column="env" property="env"/>
                    <result column="type" property="type"/>
                    <result column="title" property="title"/>
                    <result column="describe" property="describe"/>
                    <result column="method" property="method"/>
                    <result column="request_uri" property="requestUri"/>
                    <result column="response" property="response"/>
                    <result column="user_agent" property="userAgent"/>
                    <result column="remote_ip" property="remoteIp"/>
                    <result column="method_class" property="methodClass"/>
                    <result column="method_name" property="methodName"/>
                    <result column="params" property="params"/>
                    <result column="time" property="time"/>
                    <result column="create_by" property="createBy"/>
                    <result column="create_time" property="createTime"/>
                    <result column="is_del" property="isDel"/>
                    <result column="create_by_name" property="createByName"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, tenants_id, service_id, server_host, server_ip, env, type, title, describe, method, request_uri, response, user_agent, remote_ip, method_class, method_name, params, time, create_by, create_time, is_del, create_by_name
        </sql>

    <sql id="TableName">
        sys_log_api
    </sql>

    <select id="queryListQueryWrapper_mpCount" resultType="java.lang.Long">
        SELECT count(*) FROM
        <include refid="TableName"/>
        t
        ${ew.customSqlSegment}
    </select>

    <select id="queryListQueryWrapper" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        t
        ${ew.customSqlSegment}
    </select>
</mapper>
