<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makebk.domain.core.infrastructure.mapper.SysStaffMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.makebk.domain.core.entits.SysStaff">
                    <id column="id" property="id"/>
                    <result column="tenant_id" property="tenantId"/>
                    <result column="code" property="code"/>
                    <result column="account" property="account"/>
                    <result column="password" property="password"/>
                    <result column="name" property="name"/>
                    <result column="real_name" property="realName"/>
                    <result column="avatar" property="avatar"/>
                    <result column="email" property="email"/>
                    <result column="phone" property="phone"/>
                    <result column="salt" property="salt"/>
                    <result column="openid" property="openid"/>
                    <result column="appid" property="appid"/>
                    <result column="unionid" property="unionid"/>
                    <result column="creator" property="creator"/>
                    <result column="updater" property="updater"/>
                    <result column="status" property="status"/>
                    <result column="c_time" property="cTime"/>
                    <result column="u_time" property="uTime"/>
                    <result column="is_del" property="isDel"/>
                    <result column="is_admin" property="isAdmin"/>
                    <result column="wechat_push" property="wechatPush"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, tenant_id, code, account, password, name, real_name, avatar, email, phone, salt, openid, appid, unionid, creator, updater, status, c_time, u_time, is_del, is_admin, wechat_push
        </sql>

    <sql id="TableName">
        sys_staff
    </sql>

    <select id="queryListQueryWrapper_mpCount" resultType="java.lang.Long">
        SELECT count(*) FROM
        <include refid="TableName"/>
        t
        ${ew.customSqlSegment}
    </select>

    <select id="queryListQueryWrapper" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        t
        ${ew.customSqlSegment}
    </select>
</mapper>
